:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    font-family: Arial, Helvetica, sans-serif;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3);
}

.question {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 1px solid hsl(var(--hue-neutral), 100%, 30%);
    background-color: hsl(var(--hue-neutral), 100%, 50%);
    border-radius: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    border-color: black;
}

.start-btn,
.next-btn {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.score {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 1.2rem;
}

.hide {
    display: none;
}
